.topmenu {
    background-color: transparent; /* 控制button 頂 透明色color */
    padding: 20px 0;
}
.topmenu .menubar{
    padding: 0 50px;
}
.topmenu a{
    color:#fff;
    padding: 0 30px;
    text-decoration: none;
    font-size: 18px;
}

.topmenu a:hover{
    color:aqua;
}
h1{
    text-align: center;
}


form {
    width: 50%;
    margin: auto;
    padding: 14px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
    /* 玻璃霧面風-框syte */
}

.input-err{
    height: 10px;
}
.err-msg{
    width: 50%;
    margin: auto;
}
.user{
    float: right;
    color: #fff;
    
}
